body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: aliceblue;
}

.title {
    text-align: center;
    flex-grow: 0;
}

.players {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 1;
    margin: 10px 20%;
}

.player {
    display: flex;
    flex-direction: column;
    border: 2px solid aliceblue;
    border-radius: 10px;
    padding: 10px 30px;
    margin: 10px 10px;
}

.name {
    font-size: 30px;
    text-align: center;
}

.plays {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0px;
}

.selection {
    padding: 5px 30px;
    margin: 20px 0;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(140, 141, 141);
    transition-duration: 0.15s;
}

.selection.you:hover {
    background-color: aliceblue;
}

.score {
    margin-bottom: 0;
}
.scores {
    text-align: center;
    margin: 10px 0;
}

.tally > * {
    font-size: 20px;
    margin: 10px 0;
}